.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  form {
    width: 640px;

    .myformArray {
      border: 1px solid #ababab;
      margin: 10px;
      padding: 10px;

      .content-form {
        display: flex;
        justify-content: space-between;
        margin: 10px;
      }
    }
  }

  .mat-accordion>.mat-expansion-panel-spacing {
    margin: 20px 0;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 0;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .dflex {
    display: flex;
    gap: 8px;
  }

  .width-100 {
    width: 100%;
  }

  .width-50 {
    width: 50%;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.25em 8px !important;
  }
}
