<section class="section">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="true"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="header">
        <mat-panel-title>Loja</mat-panel-title>

        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form">
        <ng-container formArrayName="stores">
          <div
            class="myformArray"
            *ngFor="let control of getMyFormArray.controls; let i = index">
            <div class="content-form">
              Add FormArrays - {{ i }}
              <button type="button" (click)="remove(i)">
                Remover modalidade
              </button>
            </div>

            <ng-container [formGroupName]="i">
              <div class="dflex">
                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-100">
                  <mat-label>Modalidade</mat-label>
                  <mat-select class="form-control" formControlName="modalityId">
                    <mat-option *ngFor="let u of listModality" [value]="u.id">
                      {{ u.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Canais de Venda -->
              <div class="dflex" formArrayName="salesChannel">
                <ng-container
                  *ngFor="
                    let day of getSalesChannelFormArray(control).controls;
                    let key = index
                  ">
                  <ng-container [formGroupName]="key">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label>Canais de venda</mat-label>
                      <mat-select
                        class="form-control"
                        
                        formControlName="salesChannelId">
                        <mat-option
                          *ngFor="let s of listSalesChannel"
                          [value]="s.salesChannelId"
                          (onSelectionChange)="selectedChannels($event, i)">
                          {{ s.salesChannelName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </div>

              <div class="dflex">
                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-50">
                  <mat-label>Código da Loja</mat-label>
                  <input
                    class="form-control"
                    matInput
                    placeholder="00-00"
                    formControlName="storeCode" />
                </mat-form-field>

                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-50">
                  <mat-label>Código do caixa</mat-label>
                  <input
                    class="form-control"
                    matInput
                    placeholder="99-99"
                    formControlName="cashierCode" />
                </mat-form-field>
              </div>

              <!-- Dias da semana -->
              <div class="dflex" formArrayName="openingHours">
                <ng-container
                  *ngFor="
                    let day of getOpeningHoursFormArray(control).controls;
                    let key = index
                  ">
                  <ng-container [formGroupName]="key">
                    <mat-form-field appearance="outline" class="width-50">
                      <mat-label>Código da Loja</mat-label>
                      <input
                        class="form-control"
                        matInput
                        placeholder="00-00"
                        formControlName="initialTime" />
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </form>
      <button type="button" (click)="patchValues()">Patch Values</button>
      <button type="button" (click)="add()">Adicionar modalidade</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- <img src="assets/screenshot.png" alt="exemple image" width="1000" /> -->

<pre>{{ form.valid | json }}</pre>
<pre>{{ form.value | json }}</pre>
