.modal {
  .body {
    margin-top: 16px;

    .content {
      font-size: 18px;
      font-weight: bold;
      text-align: left;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
